@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,700,900);

body {
  font-family: "Raleway", sans-serif;
}

#para1 {
  font-weight: bold;
}

h2 {
  font-weight: normal;
}

#para1 {
  font-weight: 100;
}

#para2 {
  font-weight: 300;
}

#para3 {
  font-weight: 700;
}

#para4 {
  font-weight: 900;
}
